{% extends "Home/base.html" %}


{% block css_content %}

{% load static %}
<link rel="stylesheet" href={% static "Home/css/eliminarO.css" %}>


{% endblock %}

{% block body_content %}

<div id="aveces">
        {% if user.is_authenticated %}
        
                
        
                {% if user.username == 'admin' %}
        
                <div id="formas">



                            <h5 style="text-align: center">Eliminar Organizador</h5>
                            <hr style="background-color: white">
                            <form method="post" id="eliminar">
                                    {% csrf_token %}
                                    <div class="form-group">
                                      <label for="exampleInputEmail1">Correo</label>
                                      <input name="correo" type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Correo" required>
                                      <small style="color: black" id="emailHelp" class="form-text text-muted">Esta acción no puede deshacerse.</small>
                                    </div>
                                    <button style="width: 100%" type="submit" class="btn btn-primary">Eliminar</button>
                    
                                    
                                  </form>
                </div>
        
                {% else %}
                {% if user.first_name == 'Organizador' %}
        
                        <h1>Necesitas ser administrador para ingresar a esta página</h1>
            
                
                {% else %}
                
                        <h1>Necesitas ser administrador </h1>
                
                {% endif %}                


                
                {% endif %}


        {% else %}
        
                <h1>Necesitas logearte y ser administrador</h1>
        {% endif %}
</div>

{% endblock %}






