html{
    margin: 0 0;
    background-color: #21D4FD;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("/static/Home/img/1.jpg");    
}
#formas{
    position: fixed;
    left:50%;
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 2%;
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    border-radius: 10px;
    z-index: -1;
}
h3{
    text-align: center;
    color: white;
}