@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Ubuntu|QuickSand|Open+Sans&display=swap');

html{
    margin: 0 0;
    background-color: #21D4FD;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    background-image: url("/static/Home/img/1.jpg");    
}


#formas{
    width: 80%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.336);
    color: white;
    border-radius: 10px;
    padding: 2%;
    z-index: -1;

}
@media only screen and (max-width: 600px) {

    #formas{
        width: 80%;
        position: absolute;
        left: 50%;
        top: 130%;
        transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 0.336);
        color: white;
        border-radius: 10px;
        padding: 2%;
    
    }
}